.profileWrapper {
    min-height: 100vh;
    width: 192vh;
    margin-top: 90px;
    text-align: center;
    align-items: center;
    padding: 0 200px;
}

.profileContainer {
    display: flex;
    flex-direction: row;
}

.profileItems {
    width: 85%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.editButton{
    margin-bottom: 20px;
}